@import url('https://fonts.googleapis.com/css?family=Lato:500,700');

* {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #212121;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    width: 100%;
    position: absolute;
}

.lister {
    max-width: 1250px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.item {
    height: 100px;
    background: #F1F1F1;
}

.item:nth-child(odd) {
    background: #E2E2E2;
}